:root{
  --bs-body-bg: #fbfbfb;
  --bs-body-color: #222;
  --my-white:#fff;
  --my-black: #111;
  --my-gray-1:#777;
  --my-gray-2:#555;
  --my-gray-3:#333;
  --my-border-color:#22222222;
}

html[data-bs-theme="dark"] {
  --bs-body-bg: #181818;
  --bs-body-color: #fbfbfb;
  --my-white: #111; 
  --my-black: #fff;
  --my-gray-1: #ccc;
  --my-gray-2: #bbb;
  --my-gray-3: #aaa;
  --my-border-color: #fbfbfb22;
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  touch-action: manipulation;
}

@media (hover: none) {
  /* Override hover styles on non-hover devices */
  button:hover,.btn:hover,button:focus,.btn:focus {
      background-color: inherit !important;
      color: inherit !important;
      border: inherit !important;
      box-shadow: none !important;
  }
}

#themeIcon {
  transition: transform 0.3s ease;
}

/* Keyframe animation for a full rotation */
@keyframes rotateAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: var(--my-white);
}

/* Hero Section styling */
.hero-section {
  min-height: 50vh;
  color: var(--my-black);
  padding: 100px 0;
}

.hero-section h1 {
  font-size: 3rem;
}

.hero-section p.lead {
  font-size: 1.25rem;
  color: var(--my-gray-2);
}

/* Footer styling */
footer {
  background-color: var(--my-white);
  color: var(--my-gray-1);
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }
}

#navLinks{
  position: absolute;
  top: clamp(10px, 13vw, 6vh);
  right: 0;
  left: auto;
  background: var(--my-white);
  z-index: 1000;
}

@media (min-width: 992px) {
  #navLinks {
    position: static !important;
    background: transparent !important;
  }
  .nav-link{
    font-size: 1.15rem;
    font-optical-sizing: auto;
  }

}

@media (max-width: 768px) {
  .w-navLinks {
    max-width: 150% !important;
  }
}

/* @media (min-width: 769px) {
  .w-navLinks {
    max-width: 50% !important;
  }
} */
@media (max-width: 992px){
  #headSignature{
  max-width:15vh !important;
  }
  .border-md {
    border: 1px solid var(--my-border-color);
  }
}
@media (max-width: 992px) {
}
.active{
  border-bottom: var(--my-black) 1px solid;
}
.invert{
  filter:invert();
}