{{ define "main" }}
<div class="container-fluid top-spacer"></div>

<div class="notebook-list container col-12 col-md-8 col-lg-6 py-5 px-4">
  <header class="notebook-list__header mb-5">
    <div class="notebook-list__title-row">
      <h1 class="notebook-list__title">Notebook</h1>
      {{/* <a href="/notebook/index.xml" class="notebook-rss" aria-label="RSS feed" title="Subscribe via RSS">
        <i class="bi bi-rss" aria-hidden="true"></i>
      </a> */}}
    </div>
    <p class="notebook-list__desc">{{ .Params.description }}</p>
  </header>

  {{ if .Pages }}
  <ol class="notebook-list__posts list-unstyled">
    {{ range .Pages.ByDate.Reverse }}
    <li>
      <a class="notebook-list__entry" href="{{ .RelPermalink }}">
        <time class="notebook-entry__date" datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format "02 Jan 2006" }}
        </time>
        <span class="notebook-entry__title">{{ .Title }}</span>
        {{ if .Params.description }}
        <span class="notebook-entry__desc">{{ .Params.description }}</span>
        {{ end }}
      </a>
    </li>
    {{ end }}
  </ol>
  {{ else }}
  <p class="notebook-empty">Nothing here yet.</p>
  {{ end }}
</div>
{{ end }}
