{{/* Publication card. Receives one entry from data/credentials.yaml as context. */}}
<div class="publication card p-2 col-12 col-lg-5 col-md-8">
  <div class="h-100 p-0 container-fluid">
    <div class="row g-0">

      <div class="container-fluid col-12 col-md-4 justify-content-center d-flex align-items-center p-0">
        {{ if or (and .icon_light .icon_dark) .icon }}
          <div class="publication__icon-frame" aria-hidden="true">
            {{ partial "themedImg.html" (dict "light" .icon_light "dark" .icon_dark "fallback" .icon "prefix" "/resources/creds/" "class" "img-fluid rounded publication__icon" "alt" "") }}
          </div>
        {{ end }}
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <div class="citation">

            {{ with .authors }}
                <div class="citation__authors">
                    {{ $authors := split . ";" }}
                    {{ range $index, $author := $authors }}
                      {{ $nameParts := split $author "," }}
                      {{ if ge (len $nameParts) 2 }}
                        <span>
                          {{ trim (index $nameParts 0) " " }}, <strong>{{ trim (index $nameParts 1) " " }}</strong>{{ if lt (add $index 1) (len $authors) }}; {{ end }}
                        </span>
                      {{ else }}
                        <span>{{ $author }}</span>
                      {{ end }}
                    {{ end }}
                </div>
            {{ end }}

            {{ with .title }}
              <div class="citation__title">
                <span>"{{ . | safeHTML }}"</span>
              </div>
            {{ end }}

            <div>
              {{ with .journal }}
                <span class="citation__journal"><em>{{ . }}</em>, </span>
              {{ end }}
              {{ with .year }}
                <span class="citation__year">{{ . }}</span>
              {{ end }}
            </div>

            {{ with .doi }}
              <div class="citation__doi">
                <span>
                  <a href="{{ printf "https://doi.org/%s" . }}">{{ . }}</a>
                </span>
              </div>
            {{ end }}
          </div>
        </div>
      </div>

      {{ with .abstract }}
        <hr class="mt-2">
        <div class="abstract">
          <p>{{ . | safeHTML }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</div>
