{{/* Publication card. Receives one entry from data/credentials.yaml as context. */}}
<div class="publication card p-2 col-12 col-lg-5 col-md-8">
  <div class="h-100 p-0 container-fluid">
    <div class="row g-0">

      <div class="container-fluid col-12 col-md-4 justify-content-center d-flex align-items-center p-0">
        {{ $hasThemed := and .icon_light .icon_dark }}
        {{ if or $hasThemed .icon }}
          <div class="publication-icon-frame">
            {{ if $hasThemed }}
              <img src="{{ printf "/resources/creds/%s" .icon_light }}" class="img-fluid rounded publication-icon theme-img--light" alt="Publication Icon" loading="lazy">
              <img src="{{ printf "/resources/creds/%s" .icon_dark }}" class="img-fluid rounded publication-icon theme-img--dark" alt="Publication Icon" loading="lazy">
            {{ else }}
              <img src="{{ printf "/resources/creds/%s" .icon }}" class="img-fluid rounded publication-icon" alt="Publication Icon" loading="lazy">
            {{ end }}
          </div>
        {{ end }}
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <div class="citation">

            {{ with .authors }}
                <div class="citation-authors">
                    {{ $authors := split . ";" }}
                    {{ range $index, $author := $authors }}
                      {{ $nameParts := split $author "," }}
                      {{ if ge (len $nameParts) 2 }}
                        <span>
                          {{ trim (index $nameParts 0) " " }}, <strong>{{ trim (index $nameParts 1) " " }}</strong>{{ if lt (add $index 1) (len $authors) }}; {{ end }}
                        </span>
                      {{ else }}
                        <span>{{ $author }}</span>
                      {{ end }}
                    {{ end }}
                </div>
            {{ end }}

            {{ with .title }}
              <div class="citation-title">
                <span>"{{ . | safeHTML }}"</span>
              </div>
            {{ end }}

            <div>
              {{ with .journal }}
                <span class="citation-journal"><em>{{ . }}</em>, </span>
              {{ end }}
              {{ with .year }}
                <span class="citation-year">{{ . }}</span>
              {{ end }}
            </div>

            {{ with .doi }}
              <div class="citation-doi">
                <span>
                  <a href="{{ printf "https://doi.org/%s" . }}">{{ . }}</a>
                </span>
              </div>
            {{ end }}
          </div>
        </div>
      </div>

      {{ with .abstract }}
        <hr class="mt-2">
        <div class="abstract">
          <p>{{ . | safeHTML }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</div>
