{{/* Project card. Expects a dict with keys:
     href, cardImage, cardImage_Light, cardImage_Dark, cardTitle, cardText, tags, group, show. */}}
{{ if .show }}
<div class="project-card-wrap col-10 col-lg-5 m-4 p-2" data-tags="{{ with .tags }}{{ delimit . " " }}{{ end }}" data-group="{{ .group }}">
  <a href="{{ .href }}" class="card h-100 project-card">
    {{ $hasThemed := and .cardImage_Light .cardImage_Dark }}
    {{ if $hasThemed }}
      <img src="{{ .cardImage_Light }}" class="card-img-top theme-img--light" alt="{{ .cardTitle }}">
      <img src="{{ .cardImage_Dark }}" class="card-img-top theme-img--dark" alt="{{ .cardTitle }}">
    {{ else }}
      <img src="{{ .cardImage }}" class="card-img-top" alt="{{ .cardTitle }}">
    {{ end }}
    <div class="card-body">
      <h5 class="card-title">{{ .cardTitle }}</h5>
      <p class="card-text">{{ .cardText }}</p>
    </div>
  </a>
</div>
{{ end }}
