{{/*  <div class="publication">
    <div class="journalIcon"><img src={{printf "\"%s%s\"" "/resources/" {{.Params.pubIcon}}}} class="img-fluid"></div>
    <div class="journalIcon"> </div>
    <div class="title"></div>
    <div class="authors"></div>
    <div class="journalName"></div>
    <div class="doi"></div>
</div>  */}}
<div class="publication h-100 card p-2 col-12 col-lg-5 col-md-8">
    <div class="row g-0">
      <!-- Icon Column -->
      <div class="container-fluid col-12 col-md-2 justify-content-center d-flex">
        <div class="container-fluid d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1;">
          {{ with .Params.pubIcon }}
            <img src="{{ printf "%s%s" "/resources/" . }}" class="img-fluid rounded" alt="Publication Icon">
          {{ end }}
        </div>
      </div>
      <!-- Information Column -->
      <div class="col-md-10">
        <div class="card-body">
          <div class="citation">
            {{/* Authors */}}
            {{ with .Params.authors }}
                <div class="citation-authors">
                    {{ $authors := split . ";" }}
                    {{ range $index, $author := $authors }}
                    {{ $nameParts := split $author "," }}
                    {{ if ge (len $nameParts) 2 }}
                        <span>
                        {{ trim (index $nameParts 0) " " }}, <strong>{{ trim (index $nameParts 1) " " }}</strong>{{ if lt (add $index 1) (len $authors) }}; {{ end }}
                        </span>
                    {{ else }}
                        <span>{{ $author }}</span>
                    {{ end }}
                    {{ end }}
                </div>
            {{ end }}

  
            {{/* Title in quotes */}}
            {{ with .Params.title }}
              <div class="citation-title">
                <span>"{{ . }}"</span>
              </div>
            {{ end }}
            <div >
            {{/* Journal name in italics */}}
            {{ with .Params.journal }}
                <span class="citation-journal"><em>{{ . }}</em>, </span>
            {{ end }}
                
            {{/* Year */}}
            {{ with .Params.year }}
                <span class="citation-year">{{ . }}</span>
            {{ end }}
            </div>
            {{/* DOI as clickable link */}}
            {{ with .Params.doi }}
              <div class="citation-doi">
                <span>
                  <a href="{{ printf "https://doi.org/%s" . }}">{{ printf "%s" . }}</a>
                </span>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{/* Display abstract if provided */}}
      {{ with .Params.abstract }}
      <hr class="mt-2">
      <div class="abstract">
        <p>{{ . }}</p>
      </div>
    {{ end }}
    </div>
  </div>
  
  